---
import Layout from "~/layouts/Layout.astro";
import Wrapper from "~/components/wrapper.astro";
import Heading from "~/components/text/heading.astro";
---

<Layout title="photos" description="Notes from pwn::musings.">
  <Wrapper>
    <Heading Element="h1">Photos</Heading>
    <h3>'m workin on it</h3>
  </Wrapper>
</Layout>
