---
import Layout from "~/layouts/Layout.astro";
import Wrapper from "~/components/wrapper.astro";
import Heading from "~/components/text/heading.astro";
import Paragraph from "~/components/text/paragraph.astro";
import Subheading from "~/components/text/subheading.astro";
import Link from "~/components/link.astro";

import BioPhoto from "~/components/BioPhoto.astro";
import Squiggle from "~/components/Squiggle.astro";
import PorscheWord from "~/components/porsche/PorscheWord.astro";
import PorscheEasterEgg from "~/components/porsche/PorscheEasterEgg.astro";

import Cancer from "~/components/icons/cancer.astro";
import Leo from "~/components/icons/leo.astro";
import Scorpio from "~/components/icons/scorpio.astro";
import Location from "~/components/icons/location.astro";
import Pronouns from "~/components/icons/pronouns.astro";

const bio = "/me-proud-nix-user.jpg";
---

<Layout
  title="About"
  description="pwnwriter is a cybersecurity enthusiast with a focus on devops, I love nix, nixos and reproducibility"
>
  <Wrapper>
    <BioPhoto src={bio} />

    <Heading Element="h1"><Squiggle>About me</Squiggle></Heading>

    <div class="about-intro">
      <Paragraph>
        I am
        <span
          class="font-semibold italic underline decoration-blue-400 underline-offset-4"
        >
          Nabeen Tiwaree.
        </span>
        Online I go by
        <span
          class="font-semibold italic underline decoration-purple-400 underline-offset-4"
        >
          pwnwriter
        </span>.
      </Paragraph>

      <Paragraph>
        I’m a student who loves minimalism, open-source, and occasionally
        playing cricket. I enjoy digging into how things work under the hood and
        breaking software. I've also got a soft spot for <PorscheWord
          title="pssst… click me">Porsches</PorscheWord>, the <PorscheWord
          >911</PorscheWord> lives rent-free in my head. I'm into personal
        discipline, calisthenics, and draw a lot of inspiration from
        <span class="whitespace-nowrap">
          <Link href="https://www.instagram.com/davidlaid/" underline>
            @davidlaid
          </Link>
        </span>.
      </Paragraph>

      <Paragraph>
        Feel free to reach out via
        <Link href="https://x.com/pwnwriter" underline>x</Link>
        or
        <Link href="mailto:hi@pwnwriter.me" underline>email</Link>.
      </Paragraph>
    </div>

    <div class="h-sm"></div>

    <Heading Element="h2">Miscellany</Heading>

    <div class="grid grid-flow-row grid-cols-1 gap-4 md:grid-cols-2">
      <div>
        <Subheading Element="h3">Pronouns</Subheading>
        <Paragraph Element="div">
          <div class="flex items-center space-x-2">
            <Pronouns size={16} />
            <span>He / him</span>
          </div>
        </Paragraph>
      </div>

      <div>
        <Subheading Element="h3">Location</Subheading>
        <Paragraph Element="div">
          <div class="flex items-center space-x-2">
            <Location size={16} />
            <span>Miami, FL</span>
          </div>
        </Paragraph>
      </div>

      <div>
        <Subheading Element="h3">Signs</Subheading>
        <Paragraph Element="div">
          <ul>
            <li class="flex items-center space-x-2">
              <Cancer size={16} />
              <span>Sun in Cancer</span>
            </li>
            <li class="flex items-center space-x-2">
              <Leo size={16} />
              <span>Moon in Sagittarius</span>
            </li>
            <li class="flex items-center space-x-2">
              <Scorpio size={16} />
              <span>Scorpio Rising</span>
            </li>
          </ul>
        </Paragraph>
      </div>
    </div>
  </Wrapper>

  <!-- boots the click/hover -> drive-a-Porsche behaviour -->
  <PorscheEasterEgg />
</Layout>

<style>
  /* more breathing room in the intro copy */
  .about-intro :global(p) {
    line-height: 1.9;
    margin-bottom: 1.65rem;
  }
</style>
