---
import Layout from "~/layouts/Layout.astro";
import Wrapper from "~/components/wrapper.astro";
import Heading from "~/components/text/heading.astro";
import Subheading from "~/components/text/subheading.astro";
import Paragraph from "~/components/text/paragraph.astro";
import Link from "~/components/link.astro";
import PostList from "~/components/post-list.astro";
---

<Layout title="~" description="pwn::musings.">
  <Wrapper>
    <Heading Element="h1">
      Hi! I am
      <span
        set:html={`<span
					class="cursor-pointer rounded-sm font-semibold underline decoration-fuchsia-500 decoration-2 underline-offset-2 transition duration-200 text-zinc-800 hover:text-fuchsia-500 dark:text-white dark:hover:text-fuchsia-400 hover:decoration-fuchsia-500/30 dark:decoration-fuchsia-400 dark:hover:decoration-fuchsia-400/40">
					Nabeen
				</span>`}
      />
    </Heading>

    <Paragraph> I'm a swe based in Miami. </Paragraph>
    <Paragraph
      >This space is more like a digital workbench, where I share thoughts,
      tinker with ideas, and write about the things I enjoy.
    </Paragraph>

    <div class="h-xs"></div>
    <Link href="/about">{"{Biography}"}&nbsp;&nbsp;&Rarr;</Link>

    <div class="h-lg"></div>
    <Subheading Element="h2">Notes</Subheading>
    <PostList max={3} />

    <div class="h-xs"></div>
    <Link href="/notes">{"{ All notes }"}&nbsp;&nbsp;&Rarr;</Link>
  </Wrapper>
</Layout>
