---
import Layout from "~/layouts/Layout.astro";
import Wrapper from "~/components/wrapper.astro";
import Heading from "~/components/text/heading.astro";
import Subheading from "~/components/text/subheading.astro";
import Paragraph from "~/components/text/paragraph.astro";
import Link from "~/components/link.astro";
import PostList from "~/components/post-list.astro";
import "~/styles/index.css";
---

<Layout title="~" description="pwn::musings.">
  <Wrapper>
    <div class="glitch sm:float-left sm:mr-14 sm:mb-4">
      <img class="glitch-main" src="https://avatars.githubusercontent.com/u/90331517?s=400&u=69e445f801cc183e3657c7890b3178987577c5fa&v=4" alt="pwnwriter" />
      <img class="glitch-r" src="https://avatars.githubusercontent.com/u/90331517?s=400&u=69e445f801cc183e3657c7890b3178987577c5fa&v=4" alt="" aria-hidden="true" />
      <img class="glitch-b" src="https://avatars.githubusercontent.com/u/90331517?s=400&u=69e445f801cc183e3657c7890b3178987577c5fa&v=4" alt="" aria-hidden="true" />
      <div class="glitch-scanlines" aria-hidden="true"></div>
      <span class="glitch-label">pwnwriter<span class="cursor">_</span></span>
    </div>
    <Heading Element="h1">
      Hi! I am <span class="shimmer">Nabeen</span>
    </Heading>

    <Paragraph>
      I’m a cybersecurity student based in Miami, Florida.
    </Paragraph>
    <Paragraph
      >This space is more like a digital workbench, where I share thoughts,
      tinker with ideas, and write about the things I enjoy.
    </Paragraph>

    <div class="h-xs"></div>
    <!-- <Link href="/about">{"{Biography}"}&nbsp;&nbsp;&Rarr;</Link> -->

    <div class="h-lg"></div>
    <Subheading Element="h2">Notes</Subheading>
    <PostList max={3} />

    <div class="h-xs"></div>
    <Link href="/notes">{"{ All notes }"}&nbsp;&nbsp;&Rarr;</Link>
  </Wrapper>
</Layout>
