---
import Layout from "~/layouts/Layout.astro";
import Wrapper from "~/components/wrapper.astro";
import { getCollection, CollectionEntry } from "astro:content";

const syndications: CollectionEntry<"syndications">[] =
  await getCollection("syndications");

syndications.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<!-- TODO: Add pagincation for more than 4 syndications -->
<Layout
  title="Syndications"
  description="Personal yearly updates and reflections."
>
  <Wrapper>
    <h1 class="text-4xl font-bold mb-4 text-f-high">Syndications</h1>
    <p class="mb-12 text-f-low text-lg">
      {"{ Logs of life, changelogs of being }"}
    </p>

    <div class="grid gap-6 md:grid-cols-2">
      {
        await Promise.all(
          syndications.map(async (post) => {
            const { Content } = await post.render();
            return (
              <div class="rounded-2xl bg-b-low/70 shadow-md border border-b-med p-6 hover:shadow-sm hover:-translate-y-1 transition-all duration-200">
                <div class="flex justify-between items-center mb-4">
                  <h3 class="text-xl font-semibold text-f-high">
                    {post.data.title}
                  </h3>
                  <span class="text-xs px-2 py-1 bg-accent/10 text-accent rounded">
                    {post.data.pubDate.toISOString().split("T")[0]}
                  </span>
                </div>

                <article class="prose custom dark:prose-invert mb-4">
                  <Content />
                </article>

                <div class="mt-4 text-right text-xs text-f-low space-x-1">
                  {post.data.tags?.map((tag) => (
                    <span class="inline-block px-2 py-1 bg-b-med text-f-high rounded">
                      #{tag}
                    </span>
                  ))}
                </div>
              </div>
            );
          }),
        )
      }
    </div>

    <!-- <div class="mt-16"> -->
    <!--   <a href="/" class="text-f-low hover:text-accent underline" -->
    <!--     >&larr; Back home</a -->
    <!--   > -->
    <!-- </div> -->
  </Wrapper>
</Layout>
