---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/Layout.astro';
import PostList from '~/components/post-list.astro';
import Wrapper from '~/components/wrapper.astro';
import Heading from '~/components/text/heading.astro';
import Link from '~/components/link.astro';

export async function getStaticPaths() {
	const allnotes = await getCollection('notes');
	const uniqueTags = [
		...new Set(allnotes.map((post) => post.data.tags).flat()),
	];

	return uniqueTags.map((tag) => {
		const filterednotes = allnotes.filter((post) =>
			post.data.tags.includes(tag)
		);
		return {
			params: { tag },
			props: { notes: filterednotes },
		};
	});
}

const { tag = '' } = Astro.params;
---

<Layout title={tag} description={`notes tagged with #${tag}`}>
	<Wrapper>
		<main>
			<Heading>#{tag}</Heading>
			<PostList tag={tag} />
			<div class="h-xl"></div>
			<Link href="/notes/tags">&Larr;&nbsp;&nbsp;All tags</Link>
		</main>
	</Wrapper>
</Layout>
