---
import Link from "~/components/link.astro";
import Wrapper from "~/components/wrapper.astro";

const mainLinks = [
  { text: "~", href: "/" },
  { text: "About", href: "/about" },
  { text: "Notes", href: "/notes" },
  { text: "Syndications", href: "/syndications" },
  {
    text: "RSS",
    href: import.meta.env.DEV ? `/rss.xml?${Date.now()}` : "/rss.xml",
  },
  {
    text: "Stats",
    href: "https://cloud.umami.is/share/tNl4j2DN3BMN3xwq/pwnwriter.me",
  },
];
---

<Wrapper>
  <footer class="py-md text-sm text-center">
    <ul class="flex flex-wrap justify-center gap-4">
      {
        mainLinks.map(({ text, href }) => (
          <li>
            <Link href={href} class="underline hover:text-accent">
              {text}
            </Link>
          </li>
        ))
      }
    </ul>

    <p class="mt-4 text-xs text-f-low">
      © {new Date().getFullYear()} PwnWriter
    </p>
  </footer>
</Wrapper>
