---

---

<a href="/" id="home-link" style="display:none;"></a>
<a href="/about" id="about-link" style="display:none;"></a>
<a href="/syndications" id="syndications-link" style="display:none;"></a>
<a href="/notes" id="notes-link" style="display:none;"></a>

<script>
  document.addEventListener("keydown", (e) => {
    // ignore if typing in a form field
    if (["INPUT", "TEXTAREA"].includes(document.activeElement.tagName)) return;

    const scrollAmount = 50;

    switch (e.key) {
      case "h": // Home
      case "~":
        document.getElementById("home-link")?.click();
        break;

      case "a": // About
        document.getElementById("about-link")?.click();
        break;

      case "s": // Syndications
        document.getElementById("syndications-link")?.click();
        break;

      case "n": // notes
        document.getElementById("notes-link")?.click();
        break;

      case "j": // Scroll down
        window.scrollBy({ top: scrollAmount, behavior: "smooth" });
        break;

      case "k": // Scroll up
        window.scrollBy({ top: -scrollAmount, behavior: "smooth" });
        break;

      case "g": // go to top
        if (e.ctrlKey || e.metaKey) return; // skip if Ctrl+G
        window.scrollTo({ top: 0, behavior: "smooth" });
        break;

      case "G": // go to bottom
        window.scrollTo({
          top: document.body.scrollHeight,
          behavior: "smooth",
        });
        break;
    }
  });
</script>
